<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie-edge">
<title>Timed Moving Bubbles</title>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<!-- <link rel="stylesheet" href="style/style.css" type="text/css" media="screen" /> -->
<!-- <link rel="stylesheet" href="style/d3Style.css"> --> 

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">            
                    <h1>Does dating longer impact marriage success rates? </h1>
           
                    <div class="col-xs-12 col-md-12">
                    <p class="lead">Some are quick to marry. Some take years or even decades to just start a relationship. 
                        And the process has changed over time. The animation below plays out the real 
                        timelines of Americans from the 1980s against those of the 2005s.</p>
                    </div>
               
<!-- <div id="main-wrapper"> -->
    
    <h1 id="timecount">Time so far: <span class="cnt">0</span></h2>
        
    <div id="chart"></div>
    

    
<!-- </div>@end #main-wrapper -->
            
            </div>      
        </div>
    </div>





<div id="footer">

        <p><em><small>Data set obtained from: Rosenfeld, Michael J., Reuben J. Thomas, and Sonia Hausen. 2019 How Couples Meet and Stay Together 2017 fresh sample. 
            [HCMST_2017_public_data_v1.1_stata]. 
            Stanford, CA: Stanford University Libraries.</em></small></p>
</div>

<script src="static/js/d3.v5.min.js"></script>
<script type="text/javascript" src="static/js/app1.js"></script>
<!-- <script type="text/javascript" src="js/app2.js"></script> -->

</body>

</html>

